.container
    .jumbotron
        h1 Mean Stack
        p Lorem ipsum dolor sit amet, pri eu iriure euripidis. Eum sonet vivendum neglegentur cu, sale velit albucius nec eu, ex mundi graeco facete ius. Sumo platonem consetetur eam ex, id eius sale mel, ex tollit essent rationibus pro. Sit quidam persecuti at, at cum error animal liberavisse.
        
    .row
        .col-md-6
            div(ng-include="'partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'partials/main/new-courses'")